.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: 20px auto;
	background-color: bisque;
	border-radius: 15px;
}

.formSection {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 40%;
}

input {
	margin: 10px;
}
